data
.alchemy
node_modules
.env
.env.*
!.env.example
!**/.env.example
apps/api/assets
dist

# Serwist
apps/chat/public/sw*.js
apps/chat/public/swe-worker*.js
apps/chat/playwright-report
apps/chat/test-results
.cachebro
.direnv/
.diagnostics/
